Wan-AI
.wan2.1env
*.pyc
/output
build
diffsynth.egg-info
/apps/gradio/Wan/.gitignore
.vscode
models/AnimateDiff/.msc
models/AnimateDiff/.mv
models/AnimateDiff/mm_sd_v15_v2.ckpt
models/Annotators/.msc
models/Annotators/.mv
models/Annotators/sk_model.pth
models/Annotators/sk_model2.pth
models/ControlNet/._____temp/control_v11f1e_sd15_tile.pth
models/ControlNet/.msc
models/ControlNet/.mv
models/ControlNet/control_v11p_sd15_lineart.pth
models/stable_diffusion/.msc
models/stable_diffusion/.mv
models/stable_diffusion/flat2DAnimerge_v45Sharp.safetensors
sd_toon_shading.py
QwenPrompt
chinese-clip
0.6.0
icc
Salesforce
/.github
